.idea
.env
.php-cs-fixer.cache
Source/.idea/*
*.log
*.bak
*.DS_Store
*.orig
*.sass-cache/*
src
*Thumbs.db
Build/*
*.sass-cache
backups
geek
node_modules/
public_html/assets/*
scripts
storage
vendor/
/bower_components
cpresources/*
.ddev/
bcd.code-workspace
