.idea
.env
.php-cs-fixer.cache
Source/.idea/*
*.log
*.bak
*.DS_Store
*.orig
*.sass-cache/*
*Thumbs.db
*aspnet_client/*
Build/*
*.sass-cache
node_modules/
public_html/assets/*
storage
vendor/
/bower_components
cpresources/*
.ddev/
bcd.code-workspace
