{% set myCategoryQuery = craft.categories()
.group('issues') %}
{# Fetch the categories #}
{% set categories = myCategoryQuery.all() %}
{% for category in categories %}
{% set numofEntries = craft.entries.section('issues').limit(null).relatedTo(category).count() %}
<div class="col-xl-3 col-lg-4 col-md-6 col-12">
    <a href="{{category.url}}">
        <div class="card-hover-svg card card-body d-flex flex-column gap-4">
            <div>
                <h3 class="mb-0">{{ category.title }}</h3>
                <span class="text-gray-500">
                    <span class="fw-bold">{{numofEntries}}</span>
                    Issues
                </span>
            </div>
        </div>
    </a>
</div>
{% endfor %}