{% extends "_base/root-html.twig" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}

{% block main %}
<h2>hello h2</h2>
{% include "_partials/nav.twig" %}
    {% endblock main %}
{% endblock %}