{% extends "_layouts/generic-page-layout.twig" %}


{% block content %}
{% set userId = craft.app.request.getBodyParam('therapistID') %}
{% set therapist = craft.users()
  .group('counsellors')
  .id(userId).one() %}
<main>
    <section class="container d-flex flex-column">
      <div class="row align-items-center justify-content-center ">
        <div class="col-lg-6 col-md-8  py-xl-0">
          <!-- Card -->
          <div class="crd sha dow">
            <!-- Card body -->
            <div class="card-body p-6 d-flex flex-column justify-content-center">
              <div class="flex-column justify-content-center">
                <div class="d-flex flex-column align-items-center mb-3">
                  <div class="p-2"><h1 class="mb-0 fw-bold">Enquiry sent</h1></div>
                  {% if userId | length %}
                  <div class="p-2">
                      <img src="{{therapist.photo.url}}" alt="" class="avatar avatar-xxl rounded-circle img-fluid">
                  </div>
                  <div class="p-2">
                    You are submitting this form to <span class="text-primary">{{therapist.fullName}}</span>
                  </div>
                  {% endif %}
                  </div>
              </div>
<div class="">
  
</div>
             

            </div>
          </div>
        </div>
      </div>
    </section>
    
  </main>
{% endblock content %}