{# {% extends "_base/global-variables.twig" %} #}
{% block htmlTag %}
<html class="fonts-loaded" lang="{{ craft.app.language |slice(0,2) }}"
    prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
{% endblock htmlTag %}

{% block head %}

<head>
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}{% endblock %} - My Webpage</title>

</head>
{% endblock %}
{% block html %}
<body>

  
        {% block content %}
        {% block main %}
        {% endblock %}
        {% endblock %}
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2011 by <a href="http://domain.invalid/">you</a>.
        {% endblock %}
    </div>
</body>
{% endblock html %}

</html>
